---

- name: ensure redis is installed
  ansible.builtin.package:
    name: "{{ redis_packages }}"
    state: present
  when:
    - not running_in_check_mode
  tags:
    - redis
    - redis_install

- name: get latest system information
  ansible.builtin.setup:
  tags:
    - redis
    - redis_install

# - name: create include directory {{ redis_include_path }}
#   ansible.builtin.file:
#     path: "{{ redis_include_path }}"
#     state: directory
#     mode: 0755
#   tags:
#     - redis
#     - redis_prepare
#     - redis_configue

...
