---

- name: include OS specific configuration ({{ ansible_facts.distribution }} ({{ ansible_facts.os_family }}) {{ ansible_facts.distribution_major_version }})
  ansible.builtin.include_vars: "{{ lookup('first_found', params) }}"
  vars:
    params:
      paths:
        - "vars"
      files:
        # eg. debian-10 / ubuntu-20.04 / centos-8 / oraclelinux-8
        - "{{ ansible_facts.distribution | lower }}-{{ ansible_facts.distribution_major_version }}.yml"
        # eg. debian / ubuntu / centos / oraclelinux
        - "{{ ansible_facts.distribution | lower }}.yml"
        # eg. redhat / debian
        - "{{ ansible_facts.os_family | lower }}.yml"
        # artixlinux
        - "{{ ansible_facts.os_family | lower | replace(' ', '') }}.yml"
        - default.yml
      skip: true
  tags:
    - redis
    - redis_prepare
    - redis_configue

- name: detect ansible check_mode
  bodsch.core.check_mode:
  register: _check_mode
  tags:
    - redis
    - redis_prepare
    - redis_configue

- name: define running_in_check_mode
  ansible.builtin.set_fact:
    running_in_check_mode: '{{ _check_mode.check_mode }}'
  tags:
    - redis
    - redis_prepare
    - redis_configue

- name: install dependency
  ansible.builtin.package:
    name: "{{ redis_requirements }}"
    state: present
  when:
    - redis_requirements | default([]) | count > 0
    - not running_in_check_mode
  tags:
    - redis
    - redis_prepare
    - redis_configue

- name: re-read ansible facts
  ansible.builtin.setup:
  tags:
    - redis
    - redis_prepare

...
