#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
{#
# Note that in order to read the configuration file, Redis must be
# started with the file path as first argument:
#
# ./redis-server /path/to/redis.conf

# Note on units: when memory size is needed, it is possible to specify
# it in the usual form of 1k 5GB 4M and so forth:
#
# 1k => 1000 bytes
# 1kb => 1024 bytes
# 1m => 1000000 bytes
# 1mb => 1024*1024 bytes
# 1g => 1000000000 bytes
# 1gb => 1024*1024*1024 bytes
#
# units are case insensitive so 1GB 1Gb 1gB are all the same.
#}

{% include('redis.d/active_defragmentation.conf.j2' ) %}
{% include('redis.d/advanced_config.conf.j2' ) %}
{% include('redis.d/append_only.conf.j2' ) %}
{% include('redis.d/clients.conf.j2' ) %}
{% include('redis.d/cluster_docker_nat.conf.j2' ) %}
{% include('redis.d/event_notification.conf.j2' ) %}
{% include('redis.d/general.conf.j2' ) %}
{% include('redis.d/latency_monitor.conf.j2' ) %}
{% include('redis.d/lazy_freeing.conf.j2' ) %}
{% include('redis.d/lua_scripting.conf.j2' ) %}
{% include('redis.d/memory.conf.j2' ) %}
{% include('redis.d/network.conf.j2' ) %}
{% include('redis.d/cluster.conf.j2' ) %}
{% include('redis.d/replication.conf.j2' ) %}
{% include('redis.d/security.conf.j2' ) %}
{% include('redis.d/slow_log.conf.j2' ) %}
{% include('redis.d/snapshotting.conf.j2' ) %}

{#
################################## MODULES #####################################

# Load modules at startup. If the server is not able to load modules
# it will abort. It is possible to use multiple loadmodule directives.
#
# loadmodule /path/to/my_module.so
# loadmodule /path/to/other_module.so
#}
