############################## APPEND ONLY MODE ###############################

{% if redis_append.only is defined and
      redis_append.only | string | length > 0 %}
appendonly {{ redis_append.only | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif %}
{% if redis_append.filename is defined and
      redis_append.filename | string | length > 0 %}
appendfilename "{{ redis_append.filename }}"
{% endif %}
{% set _append_fsync = "everysec" %}
{% if redis_append.fsync is defined and
      redis_append.fsync | string | length > 0 and
      redis_append.fsync in ["always", "everysec", "no"] %}
  {% set _append_fsync = redis_append.fsync %}
{% endif %}
appendfsync {{ _append_fsync }}
{% if _append_fsync in ["always", "everysec"] %}
  {% if redis_append.no_appendfsync_on_rewrite is defined and
        redis_append.no_appendfsync_on_rewrite | string | length > 0 %}
no-appendfsync-on-rewrite {{ redis_append.no_appendfsync_on_rewrite | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
  {% endif %}
  {% if redis_append.auto_aof_rewrite_percentage is defined and
        redis_append.auto_aof_rewrite_percentage | string | length > 0 %}
auto-aof-rewrite-percentage {{ redis_append.auto_aof_rewrite_percentage }}
  {% endif %}
  {% if redis_append.auto_aof_rewrite_min_size is defined and
        redis_append.auto_aof_rewrite_min_size | string | length > 0 %}
auto-aof-rewrite-min-size {{ redis_append.auto_aof_rewrite_min_size }}
  {% endif %}
  {% if redis_append.aof_load_truncated is defined and
        redis_append.aof_load_truncated | string | length > 0 %}
aof-load-truncated {{ redis_append.aof_load_truncated | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
  {% endif %}
  {% if redis_append.aof_use_rdb_preamble is defined and
        redis_append.aof_use_rdb_preamble | string | length > 0 %}
aof-use-rdb-preamble {{ redis_append.aof_use_rdb_preamble | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
  {% endif %}

{% endif %}
