
################################# GENERAL #####################################

daemonize {{ redis_general.daemonize | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% set _supervised = "auto" %}
{% if redis_general.supervised is defined and
      redis_general.supervised | string | length > 0 and
      redis_general.supervised in  ["no", "upstart", "systemd", "auto"] %}
  {% set _supervised = redis_general.supervised %}
{% endif %}
supervised {{ _supervised }}
pidfile /run/redis/{{ redis_daemon }}.pid
{% set _loglevel = "warning" %}
{% if redis_general.loglevel is defined and
      redis_general.loglevel | string | length > 0 and
      redis_general.loglevel in  ["debug", "verbose", "notice", "warning"] %}
  {% set _loglevel = redis_general.loglevel %}
{% endif %}
loglevel {{ _loglevel }}
{% if redis_general.logfile is defined and
      redis_general.logfile | string | length > 0 %}
logfile {{ redis_general.logfile }}
{% endif %}
{% if redis_general.syslog.enabled is defined and
      redis_general.syslog.enabled | string | length > 0 and
      redis_general.syslog.enabled %}
syslog-enabled {{ redis_general.syslog.enabled | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
  {% if redis_general.syslog.ident is defined and
        redis_general.syslog.ident | string | length > 0 %}
syslog-ident {{ redis_general.syslog.ident }}
  {% endif %}
  {% set _facility = "local0" %}
  {% if redis_general.syslog.facility is defined and
        redis_general.syslog.facility | string | length > 0 and
        redis_general.syslog.facility in ["local0", "local1", "local2", "local3", "local4", "local5", "local6", "local7"] %}
    {% set _facility = redis_general.syslog.facility %}
  {% endif %}
syslog-facility {{ _facility }}
{% endif %}
{% if redis_general.databases is defined and
      redis_general.databases | string | length > 0 %}
databases {{ redis_general.databases }}
{% endif %}
{% if redis_general.show_logo is defined and
      redis_general.show_logo | string | length > 0 %}
  {% if ansible_distribution_major_version | int > 10 %}
always-show-logo {{ redis_general.show_logo | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
  {% endif %}
{% endif %}
