############################# LAZY FREEING ####################################

{% if redis_lazy.lazyfree_lazy_eviction is defined and
      redis_lazy.lazyfree_lazy_eviction | string | length > 0 %}
lazyfree-lazy-eviction {{ redis_lazy.lazyfree_lazy_eviction | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif %}
{% if redis_lazy.lazyfree_lazy_expire is defined and
      redis_lazy.lazyfree_lazy_expire | string | length > 0 %}
lazyfree-lazy-expire {{ redis_lazy.lazyfree_lazy_expire | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif %}
{% if redis_lazy.lazyfree_lazy_server_del is defined and
      redis_lazy.lazyfree_lazy_server_del | string | length > 0 %}
lazyfree-lazy-server-del {{ redis_lazy.lazyfree_lazy_server_del | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif %}
{% if redis_lazy.replica_lazy_flush is defined and
      redis_lazy.replica_lazy_flush | string | length > 0 %}
replica-lazy-flush {{ redis_lazy.replica_lazy_flush | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif %}
