################################ LUA SCRIPTING  ###############################

{% if redis_lua.lua_time_limit is defined and
      redis_lua.lua_time_limit | string | length > 0 %}
lua-time-limit {{ redis_lua.lua_time_limit }}
{% endif %}
