
################################## NETWORK #####################################

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# ** WARNING **
# If the computer running Redis is directly exposed to the
# internet, binding to all the interfaces is dangerous and will expose the
# instance to everybody on the internet. So by default we uncomment the
# following bind directive, that will force Redis to listen only into
# the IPv4 loopback interface address (this means Redis will be able to
# accept connections only from clients running into the same computer it
# is running).
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
{% set _bind = ["127.0.0.1"] %}
{% if redis_network.bind is defined %}
  {% set _bind = redis_network.bind | network_bind %}
{% endif %}
bind {{ _bind | join(' ') }}
{% if redis_network.protected_mode is defined and
      redis_network.protected_mode | string | length > 0 %}
protected-mode {{ redis_network.protected_mode | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif %}
{% if redis_network.port is defined and
      redis_network.port | string | length > 0 %}
port {{ redis_network.port }}
{% endif %}
{% if redis_network.tcp_backlog is defined and
      redis_network.tcp_backlog | string | length > 0 %}
tcp-backlog {{ redis_network.tcp_backlog }}
{% endif %}
{% if redis_network.unixsocket is defined and
      redis_network.unixsocket | string | length > 0 %}
unixsocket {{ redis_network.unixsocket }}
unixsocketperm {{ redis_network.unixsocket_perm | default('700') }}
{% endif %}
{% if redis_network.timeout is defined and
      redis_network.timeout | string | length > 0 %}
timeout {{ redis_network.timeout }}
{% endif %}
{% if redis_network.tcp_keepalive is defined and
      redis_network.tcp_keepalive | string | length > 0 %}
tcp-keepalive {{ redis_network.tcp_keepalive }}
{% endif %}
