
################################# REPLICATION #################################

{% if redis_replication.master_ip is defined and
      redis_replication.master_ip | string | length > 0 and
      redis_replication.master_ip | ansible.utils.ipaddr('address') and
      (not redis_replication.master_ip == ansible_default_ipv4.address) %}
replicaof {{ redis_replication.master_ip }} {{ redis_replication.master_port | default('6379') }}
{% endif %}
{% if redis_replication.masterauth is defined and
      redis_replication.masterauth | string | length > 0 %}
masterauth {{ redis_replication.masterauth }}
{% endif %}
{% if redis_replication.replica_serve_stale_data is defined and
      redis_replication.replica_serve_stale_data | string | length > 0 %}
replica-serve-stale-data {{ redis_replication.replica_serve_stale_data | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif %}
{% if redis_replication.replica_read_only is defined and
      redis_replication.replica_read_only | string | length > 0 %}
replica-read-only {{ redis_replication.replica_read_only | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif %}
{% if redis_replication.diskless_sync is defined and
      redis_replication.diskless_sync | string | length > 0 %}
repl-diskless-sync {{ redis_replication.diskless_sync | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif %}
{% if redis_replication.diskless_sync_delay is defined and
      redis_replication.diskless_sync_delay | string | length > 0 %}
repl-diskless-sync-delay {{ redis_replication.diskless_sync_delay }}
{% endif %}
{% if redis_replication.ping_replica_period is defined and
      redis_replication.ping_replica_period | string | length > 0 %}
repl-ping-replica-period {{ redis_replication.ping_replica_period }}
{% endif %}
{% if redis_replication.timeout is defined and
      redis_replication.timeout | string | length > 0 %}
repl-timeout {{ redis_replication.timeout }}
{% endif %}
{% if redis_replication.disable_tcp_nodelay is defined and
      redis_replication.disable_tcp_nodelay | string | length > 0 %}
repl-disable-tcp-nodelay {{ redis_replication.disable_tcp_nodelay | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif %}
{% if redis_replication.backlog_size is defined and
      redis_replication.backlog_size | string | length > 0 %}
repl-backlog-size {{ redis_replication.backlog_size | int }}mb
{% endif %}
{% if redis_replication.backlog_ttl is defined and
      redis_replication.backlog_ttl | string | length > 0 %}
repl-backlog-ttl {{ redis_replication.backlog_ttl }}
{% endif %}
{% if redis_replication.replica_priority is defined and
      redis_replication.replica_priority | string | length > 0 %}
replica-priority {{ redis_replication.replica_priority }}
{% endif %}
{% if redis_replication.min_replicas_to_write is defined and
      redis_replication.min_replicas_to_write | string | length > 0 %}
min-replicas-to-write {{ redis_replication.min_replicas_to_write }}
{% endif %}
{% if redis_replication.min_replicas_max_lag is defined and
      redis_replication.min_replicas_max_lag | string | length > 0 %}
min-replicas-max-lag {{ redis_replication.min_replicas_max_lag }}
{% endif %}
{% if redis_replication.replica_announce_ip is defined and
      redis_replication.replica_announce_ip | string | length > 0 %}
replica-announce-ip  {{ redis_replication.replica_announce_ip }}
{% endif %}
{% if redis_replication.replica_announce_port is defined and
      redis_replication.replica_announce_port | string | length > 0 %}
replica-announce-port {{ redis_replication.replica_announce_port }}
{% endif %}
