################################## SECURITY ###################################

{% if redis_security.requirepass is defined and
      redis_security.requirepass | string | length > 0 %}
requirepass {{ redis_security.requirepass }}
{% endif %}
{% if redis_security.rename_commands is defined and
      redis_security.rename_commands | count > 0 %}
  {% for command, renamed in redis_security.rename_commands.items() %}
    {% set _rename = '""' %}
    {% if rename is defined and
          rename | string | length > 0 %}
      {% set _rename = rename %}
    {% endif %}
rename-command {{ command }} {{ _rename }}
  {% endfor %}
{% endif %}
