
################################## SLOW LOG ###################################

{% if redis_slowlog.slower_than is defined and
      redis_slowlog.slower_than | string | length > 0 %}
slowlog-log-slower-than {{ redis_slowlog.slower_than }}
{% endif %}
{% if redis_slowlog.max_len is defined and
      redis_slowlog.max_len | string | length > 0 %}
slowlog-max-len {{ redis_slowlog.max_len }}
{% endif %}
