
################################ SNAPSHOTTING  ################################

{% if redis_snapshot.save is defined and
      redis_snapshot.save | count > 0 %}
  {% for save in redis_snapshot.save %}
save {{ save }}
  {% endfor %}
{% endif %}
{% if redis_snapshot.stop_writes_on_bgsave_error is defined and
      redis_snapshot.stop_writes_on_bgsave_error | string | length > 0 %}
stop-writes-on-bgsave-error {{ redis_snapshot.stop_writes_on_bgsave_error | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif %}
{% if redis_snapshot.rdbcompression is defined and
      redis_snapshot.rdbcompression | string | length > 0  %}
rdbcompression {{ redis_snapshot.rdbcompression | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{%endif %}
{% if redis_snapshot.rdbchecksum is defined and
      redis_snapshot.rdbchecksum | string | length > 0  %}
rdbchecksum {{ redis_snapshot.rdbchecksum | bool | bodsch.core.config_bool(true_as='yes', false_as='no') }}
{% endif %}
{% if redis_snapshot.dbfilename is defined and
      redis_snapshot.dbfilename | string | length > 0 %}
dbfilename {{ redis_snapshot.dbfilename }}
{% endif %}
{% if redis_snapshot.dir is defined and
      redis_snapshot.dir | string | length > 0 %}
dir {{ redis_snapshot.dir }}
{% endif %}
